#firstrunwizard {
	text-align: center;
}

#cboxLoadedContent {
	border-radius: 3px;
}

#firstrunwizard .firstrunwizard-header {
	padding: 20px 12px;
	background-color: #0082c9;
	background-image: url('../../../core/img/background.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
#firstrunwizard .firstrunwizard-header .logo {
	background-image: url('../../../core/img/logo.svg');
	background-repeat: no-repeat;
	background-size: 175px;
	background-position: center;
	width: 252px;
	height: 120px;
	margin: 0 auto;
}

#firstrunwizard .firstrunwizard-content {
	margin: 12px;
}

#firstrunwizard h1 {
	font-size: 40px;
	font-weight: 300;
	line-height: 120%;
	padding: 0 0 10px
}

#firstrunwizard h2 {
	margin: 35px 0 10px;
	line-height: 120%;
}

#firstrunwizard .appsmall {
	height: 32px;
	width: 32px;
	position: relative;
	opacity: .5;
	vertical-align: middle;
}

#firstrunwizard .button {
	display: inline-block;
	padding: 8px;
	font-weight: normal;
	font-size: 14px;
}

#firstrunwizard p a {
	font-weight: bold;
	color: #0082c9;
}
#firstrunwizard p a:hover,
#firstrunwizard p a:focus {
	color: #444;
}
#firstrunwizard .footnote {
	margin-top: 40px;
}

#firstrunwizard .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}
