@import 'colorbox.scss';

#cboxLoadedContent {
	border-radius: var(--border-radius-large);
	overflow: hidden !important;
}

#firstrunwizard .firstrunwizard-header {
	padding: 20px 12px;
	background-color: var(--color-primary);
	background-image: var(--image-login-background);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--color-primary-text);
	text-align: center;
}
#firstrunwizard .firstrunwizard-header .logo {
	background-image: var(--image-logo);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 175px;
	height: 120px;
	margin: 0 auto;
}

#firstrunwizard h2 {
	font-size: 40px;
	color: var(--color-primary-text);
	font-weight: 300;
	line-height: 120%;
	padding: 0 0 10px;
}

#firstrunwizard h3 {
	margin: 30px 0 10px;
	line-height: 120%;
	padding: 0;
}

.clientslinks .appsmall {
	height: 32px;
	width: 32px;
	position: relative;
	opacity: .5;
	vertical-align: middle;
}
.clientslinks .button {
	display: inline-block;
	padding: 8px;
	font-weight: normal;
	font-size: 14px;
}

#firstrunwizard .page {
	margin-bottom: 46px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	h3 {
		margin: 0 0 10px 0;
	}
	.image {
		padding: 20px;
		max-width: calc(50% - 40px);
		flex-grow: 1;
		img {
			width: 100%;
		}
	}
	.content {
		padding: 20px;
		width: 100%;
	}
	p {
		margin-bottom: 20px;
	}
	.description-block {
		margin-bottom: 40px;
	}
	.description {
		margin: 20px;
		width: auto;
		flex-grow: 1;
		max-width: calc(50% - 40px);
	}
	ul {
		margin: 10px;
		li {
			margin-left: 20px;
			margin-bottom: 10px;
			list-style-type: circle;
			list-style-position: outside;
		}
	}
	a:not(.button) {
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
	.button {
		display: inline-block;

		img {
			width: 16px;
			height: 16px;
			opacity: .5;
			margin-top: -3px;
			vertical-align: middle;
		}
	}
}
#firstrunwizard {

	.page {
		margin: 12px;
		margin-bottom: 60px;
	}
	.page.intro {
		margin: 0;
		margin-bottom: -50px;
		.content {
			padding: 0;
			background-image: url('../img/intro.png');
			background-position: center;
			background-size: cover;
			height: 50vh;
		}
	}
	.content-clients {
		width: 100%;
		text-align: center;
		a {
			text-decoration: none;
			display: inline-block;
		}
	}
	.content-final {
		h3 {
			background-position: 0;
			background-size: 16px 16px;
			padding-left: 26px;
			opacity: .7;
		}
	}
}

.wizard-navigation {
	display: flex;
	position: absolute;
	bottom: 0;
	padding: 12px;
	width: calc(100% - 24px);
	.prev, .next {
		flex-grow: 1;
		flex-basis: 200px;
		button {
			padding: 12px;
		}
	}
	.next {
		text-align: right;
	}
	.position-indicator {
		list-style-type: circle;
		list-style-position: inside;
		padding: 0;
		margin: 12px 0 0;
		color: var(--color-primary);
		font-size: 120%;
		li {
			float:left;
			&.active {
				list-style-type: disc;
			}
		}
	}
}
#firstrunwizard p a {
	font-weight: bold;
	color: var(--color-primary);
}
#firstrunwizard p a:hover,
#firstrunwizard p a:focus {
	color: var(color-text-light);
}
#firstrunwizard .footnote {
	margin-top: 40px;
}

#firstrunwizard .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
}

.clientslinks {
	margin-top: 20px;
	margin-bottom: 20px;
}

#firstrunwizard .page #wizard-values {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	li {
		display: block;
		min-width: 250px;
		width: 33%;
		flex-grow: 1;
		margin: 20px 0 20px 0;
		span {
			opacity: .7;
			display: block;
			height: 50px;
			width: 50px;
			background-size: 40px;
			margin: auto;
		}
		h3 {
			margin: 10px 0 10px 0;
			font-size: 130%;
			text-align: center;
		}
	}
}

.details-link {
	text-align: center;
}

.icon-source {
	background-image: url('../img/source.svg');
}
.icon-world {
	background-image: url('../img/world.svg');
}

@media only screen and (max-width: 680px) {
	#firstrunwizard {
		.firstrunwizard-header div.logo {
			background-size: 120px;
		}
		h2 {
			font-size: 20px;
		}
		.page > div {
			max-width: 100% !important;
			width: 100%;
		}
		.page #wizard-values li {
			min-width: 100%;
			overflow: hidden;
			display: flex;
			span {
				min-width: 50px;
				padding-right: 20px;
			}
			span, h3 {
				font-size: 12px;
				text-align: left;
			}
		}
		.page .content {
			padding: 0;
		}
	}
}

@media only screen and (max-width: 768px) {

	.position-indicator {
		display: none;
	}

	#firstrunwizard .page #wizard-values li {
		margin: 0;
	}

}
